* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    
}

.top {
    padding-bottom: 60px;
}

.center {
    padding-left: calc(50% - 1140px / 2);
    padding-right: calc(50% - 1140px / 2);
}

.header {
    background-color: #222222;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 19px;

}

.header__logo_left {
    display: flex;
    align-items: center;
    gap: 41px;
}

.header__botton {
    display: flex;
    align-items: center;
}


.top__content {
    background-color: #F1E4E6;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 45vw);
    margin-bottom: 65px;
    justify-content: center;
}

.top__title {
    display: flex;
    gap: 16px;
    align-items: center;
}

.title {
    color: #222;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.top__subtitle {
    color: #222;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pink__top__subtitle {
    color: #F16D7F;
}

/* блок offer */

.top__offer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 96px;
}

.item__offer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accesories {
    grid-column: span 3;

}

.text__offer {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.subtitle__offer {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subtitle__offer__pink {
    color: #F16D7F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* блок products */

.top__products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle__products {
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 6px;
}

.text_products {
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 48px;
}

.box__products {
    margin-bottom: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px 30px;
    justify-content: center;
}

.items__products {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
}

.content__products {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.subtitle__items__products {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text__items__products {
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    max-width: 315px;
}

.price__items__products {
    color: #F16D7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button__products {
    color: #F26376;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-color: #FF6A6A;
    background: #FFF;
    width: 212px;
    height: 48px;
    flex-shrink: 0;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .header__logo {
            justify-content: center;
            gap: 424px;
    }

    .img__content {
        max-width: 386px;
    }

    .title {
        font-size: 44px;
    }

    .top__subtitle {
        font-size: 24px;
    }

    .pink__top__subtitle {
        font-size: 24px;
    }

    .item__offer {
        max-width: 232px;
    }

    .img__offer {
        width: 100%;
    }
    
    .accesories {
        max-width: 752px;;
    }

    .box__products {
        gap: 17px 16px;
    }

}